[submodule "GyroFlexTest"]
	path = GyroFlexTest
	url = https://github.com/vrabit/GyroFlexTest.git
[submodule "GloveUtility"]
	path = GloveUtility
	url = https://github.com/vrabit/GloveUtility.git
[submodule "drones_ML"]
	path = drones_ML
	url = https://github.com/shenwutongjue/drones_ML.git
[submodule "GloveCases"]
	path = GloveCases
	url = https://github.com/vrabit/GloveCases.git
